<svg
        width="100vw"
        height="100vh"
        [attr.viewBox]="'0 0 ' + viewBox.width + ' ' + viewBox.height"
>
    <!--TODO The score should be moved out of the SVG-->
    <g *ngFor="let player of players">
        <text
                [attr.id]="'score-' + player.id"
                [attr.x]="6"
                [attr.y]="4 + player.id * 4"
                [attr.fill]="player.color"
                [attr.font-weight]="(player === currentPlayer) ? 'bold' : 'normal'"
                font-size="2px"
        >
            {{player.name}}: {{player.score}}
        </text>
    </g>

    <g *ngFor="let square of squares">
        <polygon
                [attr.id]="'square-' + square.topLeft.x + '-' + square.topLeft.y"
                [attr.points]="scalePosition(square.topLeft.x) + ',' + scalePosition(square.topLeft.y) + ' ' + scalePosition(square.topRight.x) + ',' + scalePosition(square.topRight.y) + ' ' + scalePosition(square.bottomRight.x) + ',' + scalePosition(square.bottomRight.y) + ' ' + scalePosition(square.bottomLeft.x) + ',' + scalePosition(square.bottomLeft.y) + ' '"
                [attr.fill]="(square.owner) ? square.owner.color : '#ccc'"
                fill-opacity="0.5"
        ></polygon>
    </g>
    <g *ngFor="let edge of graph.edges">
        <line
                [attr.x1]="scalePosition(edge.source.x)"
                [attr.y1]="scalePosition(edge.source.y)"
                [attr.x2]="scalePosition(edge.target.x)"
                [attr.y2]="scalePosition(edge.target.y)"
                [attr.stroke]="(edge.owner) ? edge.owner.color : '#ccc'"
                [attr.id]="'edge-' + edge.source.x + '-' + edge.source.y + '-' + edge.target.x + '-' + edge.target.x"
                (click)="drawEdge(edge, currentPlayer)"
        ></line>
    </g>
    <g *ngFor="let vertex of graph.vertices">
        <circle
                [attr.cx]="scalePosition(vertex.x)"
                [attr.cy]="scalePosition(vertex.y)"
                r="1"
        ></circle>
    </g>
</svg>
