<div *ngIf="auth.currentUser$ | async as currentUser; else loadingView">
    <div *ifSome="currentUser; else loginView; let user">
        <h1>
            Welcome to {{ title }}, {{ user.displayName }}!
        </h1>
        <img [src]="user.photoURL">
        <p>UID: {{ user.uid }}</p>
        <button (click)="auth.signOut()">Logout</button>
        <ul>
            <li><a routerLink="/game">New offline k-Squares Game</a></li>
            <li><a [routerLink]="'/game/' + user.uid">New online k-Squares Game</a></li>
        </ul>
    </div>

    <ng-template #loginView>
        <button (click)="auth.googleSignin()">
            <i class="fa fa-google"></i> Connect Google
        </button>
    </ng-template>
</div>

<ng-template #loadingView>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
