<div id="container">
    <div *ngIf="auth.currentUser$ | async as currentUser">
        <div [ngSwitch]="currentUser.type">
            <mat-card *ngSwitchCase="userState.LOGGED_IN">
                <mat-card-title>
                    {{ title }}
                </mat-card-title>
                <p>
                    Welcome, {{ currentUser.user.displayName }}!
                </p>
                <p>
                    <a mat-raised-button routerLink="/game">
                        📝
                        Play Dots and Boxes
                    </a>
                </p>
                <p>
                    <button mat-raised-button (click)="auth.signOut()">
                        <fa-icon [icon]="logoutIcon"></fa-icon>
                        Logout
                    </button>
                </p>
            </mat-card>

            <mat-card *ngSwitchCase="userState.NOT_LOGGED_IN">
                <mat-card-title>
                    {{ title }}
                </mat-card-title>
                <button mat-raised-button (click)="auth.googleSignin()">
                    <fa-icon [icon]="googleIcon"></fa-icon>
                    Login with Google
                </button>
            </mat-card>

            <mat-progress-spinner *ngSwitchCase="userState.LOADING" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
</div>
