<div id="container">
    <div *ngIf="auth.currentUser$ | async as currentUser; else loadingView">
        <div *ifSome="currentUser; else loginView; let user">
            <h1>
                Welcome to {{ title }}, {{ user.displayName }}!
            </h1>
            <p>
                <button routerLink="/game">New offline k-Squares Game</button>
            </p>
            <p>
                <button (click)="auth.signOut()">Logout</button>
            </p>
        </div>

        <ng-template #loginView>
            <h1>
                Welcome to {{ title }}, fam!
            </h1>
            <button (click)="auth.googleSignin()">
                Login with Google
            </button>
        </ng-template>
    </div>
</div>

<ng-template #loadingView>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
