.fill-horizontal {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.menu-icon {
    margin-right: 0.5em;
}

.avatar, .avatar-container {
    height: 32px;
    width: 32px;
}

.avatar {
    border-radius: 50%;
}

mat-divider {
    height: 32px;
    border-right-color: rgba(255, 255, 255, .5);
    margin-left: 1em;
    margin-right: 1em;
}
