.fill-horizontal {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.menu-icon {
    margin-right: 0.5em;
}

.avatar, .avatar-container {
    height: 32px;
    width: 32px;
}

.avatar-container {
    margin-left: 1em;
}

.avatar {
    border-radius: 50%;
}
