<mat-toolbar color="primary">
    <span>{{ title }}</span>

    <mat-divider vertical></mat-divider>

    <ng-container *ngIf="authService.currentUser$ | async as currentUser">
        <span
                class="avatar-container"
                [ngSwitch]="currentUser.type"
        >
            <img *ngSwitchCase="userState.LOGGED_IN"
                 class="avatar"
                 [src]="currentUser.user.photoURL"
            />
            <mat-progress-spinner
                    *ngSwitchCase="userState.LOADING"
                    diameter="32"
                    color="accent"
                    mode="indeterminate"
            >
            </mat-progress-spinner>
        </span>
    </ng-container>

    <span class="fill-horizontal"></span>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <fa-icon [icon]="faBars" size="lg"></fa-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <a mat-menu-item routerLink="/home">
            <fa-icon class="menu-icon" [icon]="faHome"></fa-icon>
            Home
        </a>
        <button mat-menu-item (click)="resetGame()">
            <fa-icon class="menu-icon" [icon]="faSync"></fa-icon>
            Restart Game
        </button>
    </mat-menu>
</mat-toolbar>
